#root {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 75px;
  padding-top: 70px;
  background-color: #ffffff;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 101vh;
  width: 100vw;
  margin: 0;
}

* {
  user-select: none;
}


